.s-pageheader:before {
   background-color: #151515;
}
.header__nav li.has-children > a::after {
   border-color: #b5b3b3;
}
.header__nav li a {
   color: #b5b3b3;
}
.header__nav li:hover > a, 
.header__nav li:focus > a {
   color: #fff;
}
.header__nav li ul {
   background: #050505;
}
.header__nav li ul li a {
   color: rgba(255, 255, 255, 0.6);
}
.header__nav li ul li a:hover, 
.header__nav li ul li a:focus {
   color: #ffffff;
}
.header__search-trigger::before,
.header__social a {
    color: #FFFFFF;
}
.go-top a, 
.go-top a:visited {
   background-color: #000000;
}
.go-top a:hover, 
.go-top a:focus {
   background-color: #0054a5;
}
#preloader {
   background-color: #050505;
}
.line-scale > div {
   background-color: #ffffff;
}
.s-footer {
   background-color: #19191b;
}
.s-footer,
abbr {
   color: #656565
}
.s-footer__main h4 {
   color: #FFFFFF
}
footer a {
   color: #ffffff;
}
footer a:hover {
   color: #000000;
}
.f0f-content .h1 {
   color: #000000;
}
.f0f-content p {
   color: #656565;
}